/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    max-width: 600px ;
    overflow:auto;
    margin-left: auto ;
    margin-right: auto ;    
    
}

#topbar
{
    padding:3px;
    height:247px;
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    background-position:75%35% ;
    background-color:#4f463c;
    text-align:right;
    font-family:Verdana;
    font-size:0.6em;
    color:white;
    font-style:italic;
}
#menu
{
    
    width:489px;
    margin-top:-31px;
    margin-left:10px;
    
}
#menu a
{
    display:none;
}
#menu ul
{
    list-style:none; 
    height:2em;
    padding:0; 
    margin:0; 
    border: none;
    
    
}
#menu li
{
    float:left; 
    margin-right:1px;
    background-color:#786f66;
    font-family:Verdana;
    font-size:0.8em;
    border:none;
    
}
#menu li a 
{
    color:#e8e5b5;
    display:block;
    text-transform: capitalize;
    padding-right:20px;
    padding-left:20px;
    padding-top:7px;
    padding-bottom:7px;
    text-decoration:none;
}
#menu li a:hover {
    background:#9c9084; 
    color:#fff;
    text-decoration:none;
}
#menu .active a
{
    color:#786f66;
    background-color:#e8e5d1;
}
#content
{
    margin-top:-2px;
    background-color:#e8e5d1;
    font-family:Verdana;
    width:600px;
}
h1, h2
{
    font-family:"Times New Roman", Times, serif;
    
}
#maincontent
{
    color:#786f66;
    margin-left:10px;
    margin-right:10px;
    font-size:0.8em;
    line-height:1.725;
    float:left;
    width:348px;
}
#maincontent img
{
    float:left;
    margin-right:6px;
}
#subcontent
{
    color:#786f66;
    padding-left:10px;
    font-size:0.55em;
    line-height:2;
    border-left: 1px dashed #bfbfbf;
    margin-top:20px;
    float:left;
    width:215px;
}
#subcontent p
{
    margin-bottom:50px;
}
#subcontent ul
{
    list-style:none;
    margin-left:-40px;
    margin-top:-15px;
}
#subcontent li a
{
    font-size:1.5em;
    color:#4f463c;
    line-height:1.75;
}
#bottomcontent
{
    clear:both;
}